body {
  max-width: 1024px;
  margin: auto;
}

#search.invalid {
  background-color: red;
}

#themes {
  padding: 0;
}

#themes > li {
  list-style-type: none;
}

#themes > [data-matching="false"] {
  display: none;
}
