html,
body {
  overflow: auto;
}

body {
  max-width: 1024px;
  margin: auto;
}

body > main {
  margin-top: 100px;
}

footer {
  font-size: small;
}

#search.invalid {
  background-color: red;
}

#themes {
  padding: 0;
}

#themes > li {
  list-style-type: none;
}

#themes > [data-matching="false"] {
  display: none;
}
